--
-- PostgreSQL database dump
--

-- Dumped from database version 17.0 (Debian 17.0-1.pgdg120+1)
-- Dumped by pg_dump version 17.0 (Debian 17.0-1.pgdg120+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: difficulty_types; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.difficulty_types (
    id integer NOT NULL,
    difficulty character varying(50)
);


ALTER TABLE public.difficulty_types OWNER TO postgres;

--
-- Name: difficulty_types_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.difficulty_types_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.difficulty_types_id_seq OWNER TO postgres;

--
-- Name: difficulty_types_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.difficulty_types_id_seq OWNED BY public.difficulty_types.id;


--
-- Name: tour_logs; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.tour_logs (
    id integer NOT NULL,
    tour_id integer NOT NULL,
    logdate timestamp without time zone NOT NULL,
    comment character varying(255) NOT NULL,
    difficulty text NOT NULL,
    total_distance integer NOT NULL,
    total_time integer NOT NULL,
    rating integer NOT NULL
);


ALTER TABLE public.tour_logs OWNER TO postgres;

--
-- Name: tour_logs_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.tour_logs_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.tour_logs_id_seq OWNER TO postgres;

--
-- Name: tour_logs_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.tour_logs_id_seq OWNED BY public.tour_logs.id;


--
-- Name: tours; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.tours (
    id integer NOT NULL,
    name character varying(50) NOT NULL,
    description character varying(255) NOT NULL,
    from_location character varying(50) NOT NULL,
    to_location character varying(50) NOT NULL,
    transportation_type character varying(255) NOT NULL,
    distance integer NOT NULL,
    estimated_time integer NOT NULL,
    route_information character varying(255) NOT NULL,
    image_path text
);


ALTER TABLE public.tours OWNER TO postgres;

--
-- Name: tours_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.tours_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.tours_id_seq OWNER TO postgres;

--
-- Name: tours_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.tours_id_seq OWNED BY public.tours.id;


--
-- Name: transportation_types; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.transportation_types (
    id integer NOT NULL,
    transportation_type character varying(50)
);


ALTER TABLE public.transportation_types OWNER TO postgres;

--
-- Name: transportation_types_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.transportation_types_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.transportation_types_id_seq OWNER TO postgres;

--
-- Name: transportation_types_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.transportation_types_id_seq OWNED BY public.transportation_types.id;


--
-- Name: difficulty_types id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.difficulty_types ALTER COLUMN id SET DEFAULT nextval('public.difficulty_types_id_seq'::regclass);


--
-- Name: tour_logs id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.tour_logs ALTER COLUMN id SET DEFAULT nextval('public.tour_logs_id_seq'::regclass);


--
-- Name: tours id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.tours ALTER COLUMN id SET DEFAULT nextval('public.tours_id_seq'::regclass);


--
-- Name: transportation_types id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.transportation_types ALTER COLUMN id SET DEFAULT nextval('public.transportation_types_id_seq'::regclass);


--
-- Data for Name: difficulty_types; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.difficulty_types (id, difficulty) FROM stdin;
1	Easy
2	Medium
3	Hard
\.


--
-- Data for Name: tour_logs; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.tour_logs (id, tour_id, logdate, comment, difficulty, total_distance, total_time, rating) FROM stdin;
41	92	2025-07-06 12:12:00	Das ist ein Tour Log	2	8	156	4
42	93	2025-07-01 14:15:00	Tour Log Comment	2	86	312	4
43	94	2025-07-01 14:15:00	Tour Log Comment 2	2	86	312	4
\.


--
-- Data for Name: tours; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: transportation_types; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.transportation_types (id, transportation_type) FROM stdin;
1	Bike
2	Hike
3	Running
4	Vacation
\.


--
-- Name: difficulty_types_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.difficulty_types_id_seq', 3, true);


--
-- Name: tour_logs_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.tour_logs_id_seq', 44, true);


--
-- Name: tours_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.tours_id_seq', 97, true);


--
-- Name: transportation_types_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.transportation_types_id_seq', 4, true);


--
-- Name: difficulty_types difficulty_types_difficulty_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.difficulty_types
    ADD CONSTRAINT difficulty_types_difficulty_key UNIQUE (difficulty);


--
-- Name: difficulty_types difficulty_types_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.difficulty_types
    ADD CONSTRAINT difficulty_types_pkey PRIMARY KEY (id);


--
-- Name: tour_logs tour_logs_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.tour_logs
    ADD CONSTRAINT tour_logs_pkey PRIMARY KEY (id);


--
-- Name: tours tours_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.tours
    ADD CONSTRAINT tours_pkey PRIMARY KEY (id);


--
-- Name: transportation_types transportation_types_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.transportation_types
    ADD CONSTRAINT transportation_types_pkey PRIMARY KEY (id);


--
-- Name: transportation_types transportation_types_transportation_type_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.transportation_types
    ADD CONSTRAINT transportation_types_transportation_type_key UNIQUE (transportation_type);


--
-- Name: tour_logs tour_logs_tour_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.tour_logs
    ADD CONSTRAINT tour_logs_tour_id_fkey FOREIGN KEY (tour_id) REFERENCES public.tours(id);


--
-- PostgreSQL database dump complete
--

